<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="header">
    <div class="left_header">
        <h1>Qna Website</h1>
    </div>
    <div class="middle_header">
        <i class="fas fa-search"></i>
        <form action="">
            <input class="search" type="text" placeholder="Search Anything Here" name="search">
        </form>
    </div>
    <div class="right_header">
        <% if(login) { %>
        <a class="join" href="logout">Log Out</a>
        <% } 
        else { %> <a class="join" href="community">Join The Community</a> <% } %>
    </div>
</div>
<div class="banner">

</div>
  <div class="question">
    
      <h2><%= results[0].body %></h2>
      <a href=""></a>
      <h3></h3>
  </div>  
  <% answerResults.forEach((answerResult)=>{ %>


  <div class="answer">
    <p><%= answerResult.ans %></p>
  </div>

  <%   }) %>
  <div class="ans">
    <form action="/ans/<%= results[0]._id %>" method="POST">
    <textarea name="ans">


    </textarea>
    <input type="submit" value="answer">
  </form>
  </div>
</body>
</html>